@using SKU.Model;
@model List<Cabinet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Specify the layout file
}

<div class="container">
    @foreach (var cabinet in Model.OrderBy(c => c.Position.Z)) // Order cabinets by Position.Z
    {
        <div>
            <h2 class="alert alert-primary">Cabinet Number: @cabinet.Number</h2>
            <p>Position: (@cabinet.Position.X, @cabinet.Position.Y, @cabinet.Position.Z)</p>
            <p>Size: (Width: @cabinet.Size.Width, Depth: @cabinet.Size.Depth, Height: @cabinet.Size.Height)</p>
            @foreach (var row in cabinet.Rows.OrderBy(r => r.Number)) // Order rows by Number
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-part text-left">
                            <h5>Row Number: @row.Number</h5>
                            <h5>Position Z: @row.PositionZ</h5>
                            <h5>Row Size: Height: @row.Size.Height</h5>
                            <div class="card-container">
                                @foreach (var lane in row.Lanes.OrderBy(l => l.Number))
                                {
                                    <div class="card" style="width: 20%;">
                                        <img height="200px;" src="https://operationmanagerstorage.blob.core.windows.net/skus/4902102141109_1666091236.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Number : @lane.Number</h5>
                                            <p class="card-text">Quantity : @lane.Quantity</p>
                                            <p class="card-text">PositionX : @lane.PositionX</p>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }
            <br/>
        </div>
    }
</div>
