@using SKU.Model;
@model List<Cabinet>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml"; // Specify the layout file
}

<div class="container">
    @foreach (var cabinet in Model)
    {
        <div>
            <h2>Cabinet Number: @cabinet.Number</h2>
            <p>Position: (@cabinet.Position.X, @cabinet.Position.Y, @cabinet.Position.Z)</p>
            <p>Size: (Width: @cabinet.Size.Width, Depth: @cabinet.Size.Depth, Height: @cabinet.Size.Height)</p>
            <div class="row">
                @foreach (var row in cabinet.Rows)
                {                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="box-part text-left">
                            <h5>Row Number: @row.Number</h5>
                            <h5>Position Z: @row.PositionZ</h5>
                            <h5>Row Size: Height: @row.Size.Height</h5>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lane Number</th>
                                            <th>JanCode</th>
                                            <th>Quantity</th>
                                            <th>Position X</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lane in row.Lanes)
                                        {
                                            <tr>
                                                <td>@lane.Number</td>
                                                <td>@lane.JanCode</td>
                                                <td>@lane.Quantity</td>
                                                <td>@lane.PositionX</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>